* {
    font-family: "Helvetica", "Garamond", 'Times New Roman';
    font-size: 30px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 600px;
}

main {
    background-color: rgb(112, 250, 158);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
}

section h2,
ul {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

section img {
    height: 200px;
    max-width: 48%;
    flex: 1 0 40%;
    border: 3px green;
    border-style: solid;
}

ul {
    font-weight: bold;
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
}

.work {
    min-height: 80vh;
    background-color: aqua;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

.main-portfolio {
    max-width: 100%;
    flex: 1 1 100%;
}

@media screen and (max-width: 992px) {
    nav {
        background-color: lightblue;
    }
}

@media screen and (max-width: 768px) {
    nav {
        background-color: rgb(82, 238, 77);
    }
    .work {
        min-height: 100vh;
    }
    section img {
        display: flex;
        flex: 1 1 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 576px) {
    nav {
        background-color: rgb(235, 225, 89);
    }
}
