* {
    font-family: "Helvetica", "Garamond", 'Times New Roman';
    font-size: 30px;
}

body {
    box-sizing: border-box;
}

header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    font-weight: bold;
    min-width: 600px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}


